[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
jedi = "*"

[packages]
opencv-python = "*"
pillow = "*"
matplotlib = "*"
numpy = "*"
imutils = "*"

[requires]
python_version = "3.9"
